/* Ostrich Sans */

@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-light.eot');
	src: local('☺'), url('ostrich-sans-light.woff') format('woff'), url('ostrich-sans-light.ttf') format('truetype'), url('ostrich-sans-light.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
