@media screen and (min-width: 1280px) {
body {
  margin-left: 180px;
  }
h1 {
  position: fixed;
  margin-top: 40px;
  }
h2 {
  position: fixed;
  margin-top: 120px;
  }
.hello {
  position: fixed;
  margin-top: 220px;
  margin-bottom: 50px;
  width: 350px;
  float: left;
}
.contact {
  position: fixed;
  margin-top: 460px;
  height:300px;
  width: 350px;
  float: left;
}
.right-column {
  float: right;
  margin-top: 30px;
  margin-right: 110px;
  width: 600px;
}
}
@media screen and (min-width: 980px) {
body {
  margin-left: 180px;
  }
h1 {
  position: fixed;
  margin-top: 40px;
  }
h2 {
  position: fixed;
  margin-top: 120px;
  }
.hello {
  position: fixed;
  margin-top: 220px;
  width: 25%;
  float: left;
}
.contact {
  position: fixed;
  margin-top: 460px;
  height:300px;
  width: 25%;
  float: left;
}
.right-column {
  float: right;
  margin-top: 30px;
  margin-right: 110px;
  width: 50%;
}
}
@media screen and (max-width: 980px) {
body{
  margin-left: 20%;
}
h1 {
  width: 80%;
}
h2 {
  width: 80%;
}
.hello {
  width: 80%;
}
.contact {
  width: 80%;
}
.right-column {
  width: 80%;
}

html {
      -webkit-text-size-adjust: none;
   }

 img {
   max-width: 100%;
   height: auto;
   width: auto\9;
}
}
