@import 'webfonts/ostrich-sans.css';

body {
    font-family: 'Ostrich Sans', 'Open Sans Condensed', sans-serif;
}
.main {
  display: block;
}
h1 {
  font-size: 90px;
  color: #808080;
  margin-bottom: 0;
  font-family: 'Ostrich Sans', 'Open Sans Condensed', sans-serif;
}
h2 {
  font-size: 90px;
  color: #808080;
  margin: 0 0 20px 0;
  font-family: 'Ostrich Sans', 'Open Sans Condensed', sans-serif;
}
.hello {
  font-size: 20px;
  color: #808080;
  font-family: 'Open Sans Condensed', sans-serif;
}
.contact {
  font-size: 20px;
  color: #696969;
  font-family: 'Open Sans Condensed', sans-serif;
}
.contact img {
  height: 40px;
  width: 40px;
}
.right-column {
  display: block;
}
#bottom {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  height: 30px;
  width: 80px;
  border: 2px solid #696969;
  border-radius: 5px;
  background-color: #696969;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 0px;
}
#bottom a {
  text-decoration: none;
  color: #ffffff;
}
#bottom a:hover {
  color: #87CEEB;
}
.contact-icons a {
  text-decoration: none;
}
